<ion-header>
    <ion-toolbar>
        <ion-title>
            Popular facts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let fact of facts">
        <ion-card class="welcome-card">
            <ion-card-header>
                <ion-card-subtitle>Points : {{fact.points}}</ion-card-subtitle>
                <ion-card-title>Fact #{{fact.id}}</ion-card-title>
            </ion-card-header>
            <ion-card-content [innerHTML]="fact.fact">
                <p>{{fact.fact}}</p>
            </ion-card-content>
        </ion-card>
    </ion-item>
</ion-content>
