<ion-header>
    <ion-toolbar>
        <ion-title>
            Random Facts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="facts">
        <ion-card class="welcome-card" *virtualItem="let item">
            <ion-card-header>
                <ion-card-subtitle>Points : {{item.points}}</ion-card-subtitle>
                <ion-card-title>Fact #{{item.id}}</ion-card-title>
            </ion-card-header>
            <ion-card-content [innerHTML]="item.fact">
                <p>{{item.fact}}</p>
            </ion-card-content>
        </ion-card>
    </ion-virtual-scroll>
</ion-content>
